@font-face {
  font-family: 'Futura Book';
  src:
  url('homework/fonts/ futura/FuturaBookC.woff') format('woff'),
  url('homework/fonts/futura/FuturaBookC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }
  @font-face {
    font-family: 'Futura Demi';
    src:
    url('homework/fonts/futura/FuturaDemiC.woff') format('woff'),
    url('homework/fonts/futura/FuturaDemiC.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
    }