@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__title
      max-width: 47.28rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
    line-height: 132.83%
    margin-bottom: 1.14rem
    max-width: 24.21rem
  .hero
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      font-size: 1.28rem
      line-height: 135.84%
    &__content
      max-width: 22.86rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  