.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__nav
    &__item
      text-decoration: none
      color: $light
      text-transform: uppercase
      margin-right: 2.85rem
      font-weight: normal
      &:hover
        color: $primary
        transition: color 0.3s
  &__link
    &:first-child
      margin-right: 1.2rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
    margin-top: -20rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__map
    display: flex
    flex-direction: column
    margin-bottom: 4.714rem

  &-contacts
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 3.14rem
    &__contacts
      max-width: 42rem
      text-align: center
      display: block
      margin: auto
      text-transform: uppercase
      color: $primary
      margin-bottom: 1.85rem
    &__social-link
      display: flex
      margin: auto
      width: 5.71rem