.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 100px
  background: $dark url('../img/image 4.3.jpg') no-repeat center / cover
  min-height: 700px
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 3.46rem
    background-color: $dark
  &__content
    max-width: 47.85rem
    min-width: 165px
    position: relative
    margin-top: 2.4rem
    margin-left: 4.28rem
    margin-bottom: 14.85rem
  &__title
    max-width: 44.68rem
  &__text
    margin: 0
    margin-top: 1rem
    margin-bottom: 2.7rem
    font-size: 1.35rem
    font-weight: normal
    line-height: 2.142rem
    max-width: 500px
    font-family: 'Futura Book'
  &__button
    margin-right: 15px
    line-height: 15px
    font-weight: 500
    padding: 1.1rem 1.7rem
    font-size: 11.1px
    &--outline
      padding: 1.05rem 2.7rem
  &__instagram
      position: absolute
      left: 0
      top: 0
      max-width: 80px
      height: 100%
  &__scroll-down
    position: absolute
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 16.3rem
    min-height: 6.92rem
    font-size: 0.76rem
    background-color: $dark
    text-transform: uppercase
    text-decoration: none
    color: $light
    font-family: 'Yeseva One'
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      height: 26px
      width: 26px
      border: 1px solid $primary
      border-radius: 50%
      margin-left: 17.5px
    &:hover
      color: $primary
      text-decoration: underline
.instagram
    background-color: $dark
    display: flex
    justify-content: center
    align-items: center
    &__link
        display: flex
        align-items: center
        line-height: 0.8
        text-transform: uppercase
        font-family: 'Futura Demi'
        font-size: 0.85rem
        color: $primary
        text-decoration: none
        transform: rotate(90deg)
        &::after
          content: ''
          width: 51px
          height: 1px
          background-color: $primary
          margin-left: 8px
        &:hover
          text-decoration: underline
          
.title
    margin: 0
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 2.657rem
    line-height: 47.6px
    font-weight: 400
    &--primary
      color: $primary